* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-color-gray {
  background-color: #e1e2e3;
}

.btn-filter {
  background-color: #9df183;
  color: #000;
}
.btn-filter:focus {
  background-color: #36d61a;
}
